extends layout

block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src='javascripts/chat.js')
    
  h1= title
  p Welcome to #{title}
  ul
    for message in messages
      li= message
  form(class='chat',action='')
    input(type='text', id='newMessage', name='newMessage')
    input(type='submit', value='Send')